@charset "utf-8";

/* 全局样式 */

*{
  margin:0; padding:0; border:0; outline:0; font-size:13px; text-decoration:none; cursor: default;
  font: 14px/150% Arial,Verdana,"宋体";
  // font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Zen Hei", Arial, sans-serif;
}

html { width: 100%; height: 100%; }
body{
  margin:0; padding:0; background-color:#fff; color:#000;
  word-wrap:break-word; vertical-align: baseline; -webkit-text-size-adjust: none;
}

//::selection { color:#fff; background-color:#666; text-shadow:none; }
//::-moz-selection { color:#fff; background-color:#666; text-shadow:none; }

h1,h2,h3,h4,h5,h6{ font-weight: bold; }
h1{ font-size:36px; line-height: 36px; }
h2{ font-size:30px; line-height: 30px}
h3{ font-size:25px; line-height: 25px}
h4{ font-size:21px; line-height: 21px}
h5{ font-size:18px; line-height: 18px}
h6{ font-size:15px; line-height: 15px}

.clear{
  float:none!important;
  clear:both!important;
  font-size:0!important;
  width:0!important;
  height:0!important;
  visibility:hidden!important;
  margin:0!important;
  padding: 0!important;
  line-height:0!important;
}

b,i,u{ font-weight: normal; font-style: normal; }

/* Default Link */
a:link,a:visited,a:active,a:hover{ color: #0077AA; text-decoration:none; cursor:pointer; }





.wrapaper {
  display: block; margin: 0 auto;
  max-width: 860px;
  // min-height: 100px;
  // background: #fff;
}

#navigation {
  display: block; position: relative;
  width: 100%;
  margin: 22px auto;
  // background: #ddd;
}

#navigation .item {
  display: inline-block;
  height: 80px; line-height: 80px;
}


#navigation h1.item {
  vertical-align: middle;
  font-size: 58px !important;
  color: #333;
  margin-right: 18px;
}

#navigation img.item {
  position: relative; left: -10px;
  vertical-align: middle;
  height: 80px; line-height: 80px;
}

#navigation .item a {
  position: relative; top: 5px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px; padding: 0 8px;
  height: 30px; line-height: 30px;
  font-size: 20px;
  background: #fff;
  border-radius: 5px;
}
#navigation a:hover,
#navigation a.active{
  background: #f6f6f6;
}
#navigation a.red{
  background: #FFAA2D;
  color: #fff;
  font-weight: bold;
  //text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}


/* 页面标题 */
#ptitle {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
#ptitle p{
  display: inline-block;
  border-left: 3px #ddd solid;
  border-right: 3px #ddd solid;
}
#ptitle i{
  display: inline-block;
  padding: 0 15px;
  margin: 0 2px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  border-left: 1px #ddd solid;
  border-right: 1px #ddd solid;
  // background: #f9f9f9;
  color: #666;
}



/***  手机自适应  ***/

@media screen and (max-width: 860px) {

  #forkme img {
     width: 100px;
  }
  .wrapaper{
     width: 94% !important;
  }

}



/*  footer  */

.botline{
  display: block;
  width: 100%; height: 1px;
  border-top: 1px #ddd solid;
}
#footer{
  border-top: 1px #ddd dashed;
  padding: 20px 0;
}

#footer .quickgo *{
  font-size: 13px;
  
}
#footer .quickgo span{
  float: right;
  color: #999;
  
}
#footer .quickgo a{
  margin-right: 16px;
  font-size: 13px;
}
#footer .quickgo a:hover{
  text-decoration: underline;
}






code{
    display: block;
    white-space: pre-wrap;
    background: #f6f6f6;
}
code.line {
    display: inline;
    padding: 0 6px !important;
    margin: 0 !important;
}
code ,
code * {
    color: #888;
    font-size: 16px;
    line-height: 18px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}
code span, code em{ color: #bbb; font-size: 14px; }
code b{ color: #619ED6; }
code i{ color: #619ED6; font-size: 14px; }
code u{ color: #1BA143; }
code n{ color: #AC1A01; }
code v{ color: #CF8F2D; }



