

/**
 * 首页
 */


#forkme {
  display: block; position: absolute; top: 0; right: 0;
}

#forkme img {
  cursor: pointer;
}


#banner{
    display: block;
    padding: 15px 0;
    background: #f0f0f0;
}

#banner .intro {
    display: block; float: left;
    width: 46%;
}
#banner .intro p {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
}
#banner .intro p b{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
#banner .intro .motto {
    margin: 10px 0;
    font-size: 18px;
    line-height: 18px;
    padding-left: 16px;
    border-left: 2px #aaa solid;
}


#weibo {
    display: block;  float: right;
    width: 35%;
}

#content {
    display: block;  float: left;
    width: 60%;
}

#content p,
#content p *{
    margin-bottom: 18px;
    font-size: 15px;
    line-height: 22px;
}
#content p code{
    padding: 8px 14px;
}


#codesample {
    display: block; float: right;
    width: 47%; padding: 10px 1.5%;
    min-height: 246px;
    background: #fff;
    white-space: pre-wrap;
}
#codesample code{
    background: #fff;
}

#codesample>div{ display: none; float: left; }
#codesample>div.n0{ display: block; }



code{
    display: block;
    background: #f6f6f6;
}
code.line {
    display: inline;
    padding: 0 6px !important;
    margin: 0 !important;
}
code ,
code * {
    color: #888;
    font-size: 16px;
    line-height: 18px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}
code span{ color: #bbb; font-size: 14px; }
code b{ color: #619ED6; }
code i{ color: #619ED6; font-size: 14px; }
code u{ color: #1BA143; }
code n{ color: #AC1A01; }
code v{ color: #CF8F2D; }
