

/**
 * 首页
 */


#forkme {
  display: block; position: absolute; top: 0; right: 0;
}

#forkme img {
  cursor: pointer;
}


#banner{
    display: block;
    padding: 15px 0;
    background: #f0f0f0;
}

#banner .intro {
    display: block; float: left;
    width: 46%;
}
#banner .intro p {
    display: block;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
}
#banner .intro p b{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
#banner .intro .motto {
    margin: 10px 0;
    font-size: 18px;
    line-height: 18px;
    padding-left: 16px;
    border-left: 2px #aaa solid;
}


#weibo {
    display: block;  float: right;
    width: 35%;
}

#content {
    display: block;  float: left;
    width: 60%;
}

#content p,
#content p *{
    margin-bottom: 18px;
    font-size: 15px;
    line-height: 22px;
}
#content p code{
    padding: 8px 14px;
}


#codesample {
    display: block; float: right;
    width: 47%; padding: 10px 1.5%;
    min-height: 246px;
    background: #fff;
}
#codesample code{
    background: #fff;
}

#codesample>div{ display: none; float: left; }
#codesample>div.n0{ display: block; }

